@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Spend Better Spend Smart</h1>
    <a asp-controller="Home" asp-action="Expenses" class="btn btn-success">Overview</a>
    <a asp-controller="Home" asp-action="CreateExpense" class="btn btn-primary">Create New</a>
</div>
